#title {

  color: red;
  padding-left: 550px;


}

td {

border: 2px solid black;
height: 100px;
width: 100px;
cursor: pointer;
/*font-family: Papyrus;
text-align: center;
font-size: 405%;
font-weight: bold;*/







}

#table {

  padding-left: 460px;
}


